<section>
    <div class="container">
        <div class="row">
            <a href="/admin/add-product" class="btn btn-success ml-auto mt-2">Add Product</a>
        </div>
<div style="
    margin-top: 15px;
">
<table class="table mt-5" id="productsTable" >
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Category</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td style="width:20%">{{this.Name}}</td>
      <td style="width:20%">{{this.money}}</td>
      <td>{{this.category}}</td>
      <td><img style="width: 50px ; height: 50px" src="/product-images/{{this._id}}.jpg"></td>
      <td>{{this.description}}</td>
      <td><a href="/admin/edit-product?id={{this._id}}" class="btn btn-primary">Edit</a>
          <a href="/admin/delete-product?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Are you wanted to delete {{this.Name}} ?')">Delete</a>
          </td>  
      
      
    </tr>
    {{/each}}
  </tbody>
</table>

    </div>
</section>
<script>
  $(document).ready( function () {
    $('#productsTable').DataTable();
} );
</script>