<style>
    hr.class-3 {
        border-top: 1px dashed #8c8b8b;
    }
</style>
<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr style="text-align: center;vertical-align: middle">
                    <th scope="col">Index</th>
                    <th scope="col">Image</th>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                    {{!-- <th scope="col"></th> --}}
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr style="height:75px;text-align: center;vertical-align: middle">
                    <td>{{@index}}</td>
                    <td scope="row">
                        <img src='/product-images/{{this.product._id}}.jpg' style="height:75px;weight:auto">
                    </td>
                    <td style="width:20%">{{this.product.Name}}</td>
                    <td style="width:20%">{{this.product.money}}</td>
                    <td><button
                            onclick="changeQuantity('{{this._id}}' , '{{this.product._id}}','{{../user._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button
                            onclick="changeQuantity('{{this._id}}' , '{{this.product._id}}','{{../user._id}}',1)">+</button>
                    </td>
                    <td><a href="/delete-product?id={{this._id}}&proId={{this.product._id}}"
                            class="btn btn-danger">Remove</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr class="class-3">
        <div class="float-right pr-5">
            <h5 class="float-right mr-5 mt-4">Total Price: <span>&#8377;</span><span id="total">{{totalValue}}</span>
            </h5>
            <br>
            <a href="/place-order" style="width:75%" class="float-right btn btn-success mt-4 mr-5">Place Order</a>
        </div>
    </div>
</section>

<script>
    function changeQuantity(cartId, proId, userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url: '/change-product-quantity',
            data: {
                user: userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert("Product removed from cart")
                    location.reload()
                }
                else {
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML = response.total
                }
            }
        })
    }
</script>