<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr style="text-align: center;vertical-align: middle">
                    <th scope="col">No</th>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                    {{!-- <th scope="col"></th> --}}
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr style="height:75px;text-align: center;vertical-align: middle">
                    {{!-- <td>{{@index}}</td> --}}
                    <td scope="row">
                        <img src='/product-images/{{this.product._id}}.jpg' style="height:75px;weight:auto">
                    </td>
                    <td style="width:20%">{{this.product.Name}}</td>
                    <td><button onclick="changeQuantity('{{this._id}}' , '{{this.product._id}}',-1)">-</button>
                    <span id="{{this.product._id}}">{{this.quantity}}</span>
                    <button onclick="changeQuantity('{{this._id}}' , '{{this.product._id}}',1)">+</button></td>
                    <td><a href="" class="btn btn-danger">Remove</a></td>
                </tr> 
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

 <script>
    function changeQuantity(cartId , proId , count)
    {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)

        $.ajax({
            url:'/change-product-quantity',
            data:{
                cart:cartId , 
                product : proId , 
                count:count,
                quantity:quantity
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct)
                {
                    alert("Product removed from cart")
                    location.reload()
                }
                else
                {
                    document.getElementById(proId).innerHTML = quantity+count
                }
            }
        })
    }
 </script>